<!doctype html>
<head>
  <title>leboncoin-watcher</title>
  <script src="angular.js"></script>
  <script src="options.js"></script>
</head>
<body ng-app>
  <div ng-controller="optionsCtrl">
    <ul>
      <li ng-repeat="query in queries">
        <input ng-model="query.url">
        <select ng-model="query.polling">
          <option value="5000">5 secondes</option>
          <option value="1800000">30 minutes</option>
          <option value="3600000">1 heure</option>
          <option value="7200000">2 heures</option>
        </select>
      </li>
    </ul>
    <input type="button" ng-click="addSearch()" value="Ajouter">
  </div>
</body>
