<!doctype html>
<html ng-app="App">
<head>
  <!-- <title>leboncoin-watcher</title> -->
  <link rel="stylesheet" href="options.css">
  <script src="angular.js"></script>
  <script src="angular-animate.js"></script>
  <script src="options.js"></script>
</head>
<body>
  <div ng-controller="optionsCtrl">
    <ul>
      <fieldset ng-repeat="query in queries" class="slide">
        <input ng-model="query.url" placeholder="http://">
        <a class="delete" ng-click="deleteSearch($index)">x</a>
      </fieldset>
    </ul>
    <a class="add" ng-click="addSearch()">+</a>
  </main>
</body>
</html>
