@import url(http://fonts.googleapis.com/css?family=Roboto:400,300;900);

::selection {
  background: #e91e63;
  color: #fff;
}

a {
  cursor: pointer;
}

fieldset {
  border: 0;
  padding: 0 1em;
  position: relative;
}

input {
  border: 0 solid #fff;
  border: 0;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  width: 100%;
}

input:focus {
  border: 1px solid #78909c;
  outline: 0;
}

ul {
  min-width: 50vw;
  padding: 0;
  margin: 0;
}

body {
  -webkit-user-select: none;
  align-items: center;
  background-color: #e0e0e0;
  display: flex;
  font-family: 'Roboto';
  height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;
  user-select: none;
  width: 100vw;
}

.add {
  background-color: #78909c;
  border-radius: 50%;
  box-shadow: 0 2px 2px #757575;
  color: #fff;
  display: inline-block;
  font-size: 2em;
  font-weight: lighter;
  height: 2em;
  line-height: 2em;
  margin: .5em;
  position: relative;
  transition: all .1s ease-out;
  width: 2em;
}

.add:active {
  background-color: #455a64;
  box-shadow: 0 1px 1px #757575;
  top: 1px;
}

input,
.delete {
  transition: all .2s ease-out;
}

.delete {
  color: #b0120a;
  font-weight: bold;
  line-height: 2.2em;
  margin: auto;
  opacity: 0;
  padding: 0 1em;
  position: absolute;
  right: -2em;
  top: 0;
  transform: translateX(-1em);
  visibility: hidden;
}

input:focus + .delete {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

.slide {
  height: 3.4em;
  transition: .4s ease-out all;
}

.slide.ng-enter {
  height: 0;
  opacity: 0;
  transform: translateY(2em);
}

.slide.ng-enter.ng-enter-active {
  height: 3.4em;
  opacity: 1;
  transform: translateY(0);
}

.slide.ng-leave {
  opacity: 1;
  transform: translateX(0);
}

.slide.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  transform: translateX(-200%);
}
